*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #eee;
}

.side-menu{
	background-color: #306AB3;
	width: 100px;
	height:1000px;
	display: inline-block;
	float: left;
}

.top-menu{
	background-color: #28374C;
	height:100px;
	width: 100%;
}

.logo{
	height:75px;
	margin-top: 12.5px;
}

.content{
	display: inline-block;
	background-color:#fff;
	width: 1500px;
	height: 700px;
	border-radius:15px;
	float: left;
	position:absolute;
	left: 50%;
	margin-left:-750px;
}

.fa{
	color:#eee;
	background-color: transparent;
	font-size:50px !important;
	margin-left: 25px;	
}

.icons{
	margin-top: 35px;
}